* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/animation/2023/02/16/14/40/14-40-49-756_512.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.weather-app {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #000;
}

.search-box {
  margin-bottom: 20px;
}

#cityInput {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #3498db;
  border-radius: 5px;
  text-transform: capitalize;
}

#searchBtn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  
}

.weather-info {
  margin-top: 20px;
}

.weather-info h2, h3, p {
  margin-bottom: 10px;
  color: #2c3e50;
  font-weight: bold;
}

.weather-info h3 {
  font-size: 1.5rem;
}

.weather-info p {
  font-size: 1.2rem;
}

#weatherDesc{
  text-transform: capitalize;
}